@import "variavel";


.container{
	@include fullpage();
    margin: 0 auto;
	background-image: url(../../images/background.png);
		.baloes img{
			width: 460px;
    		position: absolute;
			margin: 95px 20px;
		}
		.botoes{
		    margin-left: 100px;
		    margin-top: 420px;
		    position: absolute;
		    	.animate{
					transition: all 0.1s;
					-webkit-transition: all 0.1s;
				}
				.action-button{
					padding: 10px 40px;
				 	margin: 0px 10px 10px 0px;
					border-radius: 10px;
					font-family: 'Pacifico', cursive;
					font-size: 25px;
					color: #FFF;
					text-decoration: none;	
				}
				.blue{
					background-color: #3498DB;
					border-bottom: 5px solid #2980B9;
					text-shadow: 0px -2px #2980B9;
				}

				.red{
					background-color: #E74C3C;
					border-bottom: 5px solid #BD3E31;
					text-shadow: 0px -2px #BD3E31;
				}
				.action-button:active{
					transform: translate(0px,5px);
				  	-webkit-transform: translate(0px,5px);
					border-bottom: 1px solid;
				}
		}
		.btn-selec{
			position: absolute;
    		z-index: 999;
		}
		.nivel-drop{
			transition: all 0.9s cubic-bezier(0.4, 0, 1, 1);
			opacity: 0.0;
			position: absolute;
    		//z-index: 99;
			@include fullpage();
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#025159+0,203040+100 */
			background: #025159; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #025159 0%, #203040 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #025159 0%,#203040 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #025159 0%,#203040 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#025159', endColorstr='#203040',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			 //&:hover{
				//opacity: 0.9;
			 //}
			 
		}

	}





